<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="myTeacher"
          class="c4.curs.JavaTeacher">
    </bean>

    <bean id="myWisdomService"
          class="c4.curs.WisdomWordsService">
    </bean>
    <bean
        id="c4.curs.MyHomeworkService"
        class="c4.curs.MyHomeworkService">
    </bean>
</beans>